<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>豆瓣一刻</title>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="stylesheet/less" href="./public/less/main.less">
    <script src="./public/libs/less.js"></script>
    <script src="./bower_components/angular/angular.min.js"></script>
    <script src="./bower_components/angular-route/angular-route.min.js"></script>

    <script src="scripts/app.js"></script>
</head>
<body ng-app="yike">
<div class="viewport">
    <!-- 侧边导航 -->
    <div class="navs" ng-class="{collapse:collapsed}" ng-controller="navsCtrl">
        <dl>
            <dt class="login">
            <div class="avatar">
                <img src="./public/images/avatar.png" alt="">
            </div>
            <span>登录</span>
            </dt>
            <dd ng-repeat="nav in navs">
                <a href="{{ nav.link }}" class="{{ nav.icon }}" ng-click="toggle()">
                    <span>{{ nav.text }}</span>
                </a>
            </dd>
        </dl>
        <div class="extra">
            <a href="javascript:;" class="icon-image">夜晚</a>
            <a href="javascript:;" class="icon-download">离线</a>
        </div>
    </div>


    <div class="container">
        <!-- 头部 -->
        <div class="header" ng-class="{collapse:collapsed}">
            <a href="javascript:;" ng-click="toggle()" class="menu icon-menu"></a>
            <h2>{{title}}</h2>
            <a href="javascript:;" class="search icon-search"></a>
        </div>
        <!-- 主体 -->
        <div class="body" ng-class="{collapse:collapsed}">
            <div ng-if="!loaded" class="loading" ng-src="./public/images/loading.gif"></div>
            <div ng-view></div>
        </div>
    </div>
</div>

<script src="./public/libs/toggle.js"></script>
</body>
</html>